@charset "utf-8";
/* CSS Document */

#login {width:100%; height:100%; min-width:1250px; background:url(/_admin/images//bg_login.png)}
#login:before,
#login:after{display:table;content:"";line-height:0}
#login:after{clear:both}

#login .login {width:650px; margin:0 auto;}
#login .login > h1 {text-align:center; margin-top:180px}
#login .login fieldset {margin-top:50px;padding:50px 0; background:url(/_admin/images//bg_lgline.png) repeat-x}
#login .login fieldset .lg_bx {}
#login .login fieldset .lg_bx ul{float:left;width:70%}
#login .login fieldset .lg_bx li{clear:both;margin-bottom:10px;overflow:hidden}
#login .login fieldset .lg_bx li > label{float:left;padding:18px 5px 0 5px;width:90px;line-height:15px;font-size:12px;font-weight:800;color:#fff;font-family:Arial, Helvetica, sans-serif}
#login .login fieldset .lg_bx li > input.lg_txt{float:left;margin:0;padding:0 10px;width:330px !important;height:50px; line-height:50px; text-align:center;color:#000;font-size:20px;font-weight:600;border:1px solid #1b2237;background:#fff;border-radius:15px;-moz-border-radius:15px; -webkit-border-radius:15px; }
#login .login fieldset .lg_bx li > input:focus {outline:none;}
#login .login fieldset .lg_bx p{float:right;width:170px;}
#login .login fieldset .lg_bx p input.btn_lgn {width:170px;height:170px;line-height:170px;font-size:20px;font-weight:800;color:#fff;cursor:pointer;border:0px solid #111;
background: #4586d5; border-radius:15px;-moz-border-radius:15px; -webkit-border-radius:15px;}
#login .login fieldset .lg_bx p input:focus {outline:none;}
#login .login fieldset .lg_bx li input.btn_code {width:135px;background:#838383 url(/img/common/bg_code.png) no-repeat;color:#fff;font-weight:600;height:50px; line-height:50px; text-align:center;border-radius:15px;-moz-border-radius:15px; -webkit-border-radius:15px; border:0; margin-right:5px}
#login .login fieldset .lg_bx li input.lg_code {margin:0;padding:0 10px;width:330px !important;height:50px; line-height:50px; text-align:center;color:#000;font-size:20px;font-weight:600;border:1px solid #1b2237;background:#fff;border-radius:15px;-moz-border-radius:15px; -webkit-border-radius:15px }

input.lg_code::-ms-input-placeholder { color:#f2f2f2; font-weight:400; font-family:dotum; font-size:16px} 
input.lg_code::-webkit-input-placeholder { color:#f2f2f2;font-weight:400;font-family:dotum; font-size:16px}
input.lg_code::-moz-placeholder { color:#f2f2f2;font-weight:400;font-family:dotum ; font-size:16px}
#login .copy {color:#898989; text-align:center; padding-top:20px;background:url(/_admin/images//bg_lgline.png) repeat-x} 

#wrap {width:100%; min-height:100%; min-width:1250px;background:url(/_admin/images//bg_lnb.png) repeat-y;}
#wrap:before,
#wrap:after{display:table;content:"";line-height:0}
#wrap:after{clear:both}

#lnb {width:190px;min-height:100%; float:left;}
#lnb > h1 {margin:20px 0 0 20px}
#lnb .member_info {border-top:1px solid #3e3e3e; margin-top:20px}
#lnb .member_info dt {border-top:1px solid #525252;border-bottom:1px solid #3e3e3e;text-align:center;padding:10px 0;color:#fff;font-size:14px;}
#lnb .member_info dt > span {color:#74b1f6; font-weight:800}
#lnb .member_info dd {border-top:1px solid #525252;}
#lnb .member_info dd > ul {margin:10px 0 0 10px; width:150px; background:#414141; padding:10px}
#lnb .member_info dd > ul li {padding:5px 0; color:#90969a; line-height:18px; border-bottom:1px dashed #5a5a5a; font-weight:600;text-align:left !important}
#lnb .member_info dd > ul li:last-child {border-bottom:0}
#lnb .member_info dd > ul li span {color:#fff;font-weight:400}
#lnb .member_info dd > ul li > p {color:#fff;font-weight:400}
#lnb > h2 {color:#aaa;font-size:20px;font-weight:600;text-align:center;margin:30px 0 15px 15px; background:url(/_admin/images//bg_h2.png) no-repeat; width:156px; height:53px; padding-top:25px}
#lnb ul {margin:0 auto}
#lnb ul li {padding:5px 0; text-align:right; border-bottom:1px dashed #606162}
#lnb ul li a {display:block;height:35px;line-height:35px;color:#fff;text-align:right; font-size:14px; padding-right:30px}
#lnb ul li.sel a {background:url(/_admin/images//bg_left.png) no-repeat 182px 10px; font-weight:600; color:#65a9f5}
#lnb ul li a:hover {color:#65a9f5}


#contain {width:auto;min-height:500px;overflow:hidden;position:relative}
.gnb {width:100%; background:#404040; border-bottom:3px solid #6fa3dd;}
.gnb > ul {overflow:hidden}
.gnb > ul li {float:left; background:url(/_admin/images//bg_menuline.png) no-repeat top right; font-family:'Nanum Gothic'; vertical-align:bottom; padding-top:10px;}
.gnb > ul li > a {display:block; font-size:15px; font-weight:600; color:#fff; height:45px; line-height:45px; padding:0px 40px;}
.gnb > ul li.sel > a { border-bottom:5px solid #6fa3dd;height:40px; line-height:40px;}
.gnb > a {display:block;height:25px;background:#6fa3dd url(/_admin/images//bg_logout.png) no-repeat 50% 10px;padding:30px 20px 0 20px;color:#fff;position:absolute;top:0;right:0}

#content_wrap {margin:20px}
.now_bx {border:5px solid #d6d6d6; background:#eaeaea;position:relative}
.now_bx > dl {width:500px; padding:15px; overflow:hidden}
.now_bx > dl dt {float:left; width:150px; text-align:center; border-right:1px solid #CCC; font-size:14px;height:20px;font-weight:600}
.now_bx > dl dd {float:left; width:250px;font-size:14px;height:20px; padding-left:20px; color:#000}
.now_bx > dl dd span {color:#000}
.now_bx  p.now_time {position:absolute; top:15px; right:20px;color:#000; background:url(/_admin/images//bg_time.png) no-repeat; height:19px; line-height:19px; padding-left:25px}


.content {margin-top:30px; overflow:hidden}
.content > h2 {background:url(/_admin/images//bg_title.png) no-repeat;padding:0 0 0 35px;font-size:18px;color:#000;font-weight:600;height:21px;line-height:21px;margin-bottom:10px;}

/* 메인 */
.m_dan {width:445px; margin:0 30px 50px 0; float:left}
.m_dan > h2 {border-bottom:2px solid #575757; font-size:16px; height:25px; font-weight:600; padding:3px 0 5px 40px; color:#000}
.m_dan > .bg_01 { background:url(/_admin/images//bg_mh2_01.png) no-repeat !important}
.m_dan > .bg_02 { background:url(/_admin/images//bg_mh2_02.png) no-repeat !important}
.m_dan > .bg_03 { background:url(/_admin/images//bg_mh2_03.png) no-repeat !important}
.m_dan > .bg_04 { background:url(/_admin/images//bg_mh2_04.png) no-repeat !important}
.m_dan .m_tb {width:100%; margin-top:10px}
.m_dan .m_tb th {}
.m_dan .m_tb th > p {background:#dce4ed;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;font-size:14px;height:33px;line-height:33px;margin-bottom:2px;color:#000}
.m_dan .m_tb td { border-bottom:1px solid #d6d6d6; text-align:left; padding-left:30px; height:35px; font-size:15px; font-weight:600}
.m_dan .m_tb td > a {float:right;font-size:12px;display:block; background:#6e6e6e;color:#fff;width:80px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;text-align:center; padding:3px 0}

/*서브*/
.box_blue {background:#e6eef6;padding:10px 20px;overflow:hidden;vertical-align:middle}
.stat_mgn {display:inline-block; margin-left:10px}
.stat_mgn span {color:#000;font-size:14px;font-weight:600}

.th_sel {width:80px;border-top:1px solid #d7d7d7;border-left:1px solid #d7d7d7; z-index:10; position:absolute;top:28px ;left:50%;margin-left:-40px;}
.th_sel li {border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7; background:#fff;text-align:center}
.th_sel li > a { display:block;padding:5px 5px;}
.th_sel li:hover {background:#f0f0f0}

.icon_use {display:inline-block;width:40px;background:#79c9d7; border:1px solid #63b2c0;height:18px;line-height:18px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.icon_charge {display:inline-block;width:40px;background:#819acc; border:1px solid #6580b6;height:18px;line-height:18px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.icon_plus {display:inline-block;width:40px;background:#c3ac74; border:1px solid #ab9661;height:18px;line-height:18px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.icon_minus {display:inline-block;width:40px;background:#87c08c; border:1px solid #71a775;height:18px;line-height:18px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}

.chrg_edit {background:#e7eaec;padding:10px 40px;overflow:hidden;vertical-align:middle; border:1px solid #c3cdd4;}
.chrg_edit > ul {width:325px; margin:0 auto}
.chrg_edit > ul li {padding:3px 0; text-align:left}

.acc_tit {overflow:hidden; margin-bottom:10px; padding-top:15px; position:relative}
.acc_tit > dl dt {width:50px;background:#333;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; color:#fff; float:left; padding:0 5px; height:25px; line-height:25px; text-align:center}
.acc_tit > dl dd {color:#000; font-weight:600; font-size:14px; float:left;height:25px; line-height:25px;padding:0 15px 0 10px;}
.acc_tit > p {position:absolute; top:18px; right:5px;}

.accset_bx {border:1px solid #dedede; padding:15px; width:800px;}
.accset_bx > h3 {text-align:center; font-size:18px; font-weight:normal; padding:15px 0}
.accset_bx .accset {background:#becde3;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px; padding:30px 0}
.accset_bx > ul {padding:20px 0 0 10px}
.accset_bx > ul li {padding-bottom:8px; font-size:13px}
.accset_bx .accset_tb {width:80%; margin:0 auto}
.accset_bx .accset_tb th {font-size:14px;  font-weight:600;color:#000;border-bottom:1px solid #d2dceb;padding:15px 0; text-align:right; padding-right:20px}
.accset_bx .accset_tb td {border-bottom:1px solid #d2dceb;padding:15px 0; font-size:14px; font-weight:600; color:#000}
.accset_bx .accset_tb td > span {color:#000}
.accset_bx .accset_tb th.none,
.accset_bx .accset_tb td.none {border:0}
.accset_bx .accset_tb td select.acc_setmon {height:35px;line-height:35px; width:100px; border:1px solid #adbacd !important;font-size:15px;font-weight:600;text-align:center}
.accset_bx .accset_tb td input.acc_setime {height:35px;line-height:35px; width:80px;border:1px solid #adbacd !important;font-size:16px;font-weight:600; color:#000; text-align:center; padding:0 !important}
.accset_bx .accset_tb td > em {padding:0 10px}
.ab_rgbx {position:relative; text-align:center; margin-top:20px; padding-left:30px} 
.ab_rgbx > p {position:absolute; top:0px; right:0}

.dan2_bx {overflow:hidden; margin-top:20px;}
.dan2_bx .dan_lf {width:30%; float:left}
.dan2_bx .dan_lf dl.d_inline {border:1px solid #cfd9e2; background:#eaf1f7; margin-bottom:10px; overflow:hidden; padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.dan2_bx .dan_lf dl.d_inline dt {float:left; width:20%; border-bottom:1px solid #e0e7ed;padding:3px;height:20px;line-height:20px; color:#000; font-weight:600}
.dan2_bx .dan_lf dl.d_inline dd {float:left;width:70%;border-bottom:1px solid #e0e7ed;padding:3px 0;height:20px;line-height:20px; padding-left:10px}
.dan2_bx .dan_lf dl.d_inline dt.none {border:0}
.dan2_bx .dan_lf dl.d_inline dd.none {border:0}
.dan2_bx .dan_lf dl.d_ver {border:1px solid #cfd9e2; background:#eaf1f7; margin-bottom:10px; overflow:hidden; padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.dan2_bx .dan_lf dl.d_ver dt {color:#000; font-weight:600; padding-bottom:5px;border-bottom:1px solid #e0e7ed;}
.dan2_bx .dan_lf dl.d_ver dt > span {color:#F00; font-weight:600}
.dan2_bx .dan_lf dl.d_ver dd {max-height:100px; overflow-y:auto; overflow:hidden}
.dan2_bx .dan_lf dl.d_ver dd > ul {margin-top:5px}
.dan2_bx .dan_lf dl.d_ver dd > ul li {padding:3px 0;word-break:break-all}
.dan2_bx .dan_lf dl.d_ver dd > ul li span.logo {padding-right:6px}
.dan2_bx .dan_lf dl.d_ver dd > ul li span.logo img {width:20px}

.dan2_bx .dan_rg {width:68%; float:right}

.t_chg { text-align:center}
.t_chg > select.select_chg {height:30px; line-height:30px; margin-right:10px;}
.t_chg .lne {display:inline}

/* 공시지원*/
.bx_telsrch {background:#f0f2f4; text-align:center; padding:10px 0}

/* 기기색상관리 */
.color_add {margin-top:10px;}
.color_add dt {font-weight:600;padding:0 0 8px 3px}
.color_add dd ul.color_list {overflow:hidden; overflow-y:auto; max-height:200px;}
.color_add dd ul.color_list li {background:#eef4f9; padding:3px 0; line-height:18px;position:relative; border-bottom:1px solid #fff; padding-left:15px; font-size:13px;word-break:break-all}
.color_add dd ul.color_list li:hover {background:#fff; cursor:pointer}
.color_add dd ul.color_list li > p {color:#000; font-weight:600;width:85%}
.color_add dd ul.color_list li span.del {position:absolute; top:2px ; right:10px;}
.color_add dd ul.color_list li span.del a {display:inline-block; background:#000; color:#fff; width:20px; height:15px; line-height:15px; font-family:Arial; text-align:center}

/* 파싱이력 */
.pas_bx {overflow:hidden}
.pas_bx .pas_01 {float:left;margin-right:25px; width:340px}
.pas_bx .pas_01 > h2 { font-size:14px;padding:10px 0}
.pas_bx .pas_02 {float:left;width:400px}
.pas_bx .pas_02 > h2 { font-size:14px;padding:10px 0}
.win_tit { font-size:15px; color:#000; border-bottom:1px solid #000; padding:0 0 5px 5px}

.excel_bx {overflow:hidden}
.excel_bx .excel_01 {float:left;margin-right:25px; width:370px}
.excel_bx .excel_01 > h2 { font-size:14px;padding:10px 0}
.excel_bx .excel_02 {float:left;width:370px}
.excel_bx .excel_02 > h2 { font-size:14px;padding:10px 0}

.winsrh_bx {background:#5f5f5f;padding:15px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;; color:#fff}
.winsrh_bx p {margin:0 auto; padding:5px; color:#fff; font-size:13px;}
.winsrh_bx p > span {color:#fff}

.insel_list {overflow:hidden; overflow-y:auto; max-height:250px; border:1px solid #d1d9e0; padding:2px}
.insel_list li {background:#eef4f9;padding:5px 0;line-height:18px;position:relative; border-bottom:1px solid #fff; padding-left:15px; font-size:13px;word-break:break-all}
.insel_list li:hover {background:#fff; cursor:pointer}
.insel_list li > p {color:#000; font-weight:600;width:85%}
.insel_list li span {position:absolute; top:3px ; right:10px;}

.srch_res_txt { text-align:center; font-size:16px; font-weight:600; color:#666; padding-bottom:10px}
.srch_res_txt > span {color:#0170ec; font-weight:600}
.srch_result {border:1px solid #e0e0e0; padding:10px; height:200px; overflow-y:auto; overflow-x:hidden}
.srch_result > ul li {padding:6px 0 6px 5px;position:relative}
.srch_result > ul li:hover {background:#e8f2f7; }
.srch_result > ul li:hover > span {color:#000}
.srch_result > ul li > span {width:80%;  display:inline-block}
.srch_result > ul li > a {position:absolute;top:4px;right:5px;display:inline-block;background:#000;width:50px;color:#fff;text-align:center; padding:2px 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

.direct_date {background:#474747;text-align:center; padding:10px 0;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px; color:#c5eeff; font-size:16px; font-weight:800}
.direct_date > span {color:#fff; font-weight:600; font-size:14px; padding-right:10px}
.direct_bx {margin-top:10px;}
.direct_bx:before,
.direct_bx:after{display:table;content:"";line-height:0}
.direct_bx:after{clear:both}
.direct_bx .direct_firm {width:48%; float:left; margin-right:2%}
.direct_bx .direct_firm > p {padding:5px 0;text-align:center; font-size:14px;font-weight:600}
.direct_bx .direct_firm > ul { background:#f3f3f3; border:1px solid #d0cfcf; padding:5px; height:150px; overflow-y:auto }
.direct_bx .direct_firm > ul li { padding:5px 10px; font-size:13px}
.direct_bx .direct_sel {width:48%; float:left}
.direct_bx .direct_sel > p {padding:5px 0;text-align:center;font-size:14px;font-weight:600}
.direct_bx .direct_sel > div {background:#f3f3f3; border:1px solid #d0cfcf; padding:5px; text-align:center;height:150px;}
.direct_bx .direct_sel > div > select { font-size:23px; height:40px; margin-top:50px;}


/* 공통 */
.scl {overflow:hidden; overflow-y:auto; max-height:350px}

.bg_01 {background:#f6f6f6 !important} /* 연한 회색*/
.bg_02 {background:#f0f7ff !important} /* 연한 블루*/
.bg_03 {background:#e6f6f2 !important} /* 연한 블루*/

.current_num {background:#3092ff;display:inline-block; padding:2px 10px; font-weight:600; color:#fff;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px; font-size:13px}
.current_num2 {background:#f75d00;display:inline-block; padding:2px 10px; font-weight:600; color:#fff;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px; font-size:13px}

.blue_point {color:#3092ff} /* 포인트 블루 텍스트 색상 */
.bold {color:#000; font-weight:600}
.descript {overflow:hidden}
.descript dt {font-size:14px; font-weight:600; margin-bottom:5px}

.adtb_01 {border-top:1px solid #bcbcbc; border-left:1px solid #bcbcbc;table-layout:fixed ; position:relative} /* tr에 색상 나타나는 table*/
.adtb_01 tr:hover td {background:#f1fcff}
.adtb_01 th {background:#e3e3e3;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; padding:8px 0; font-size:12px;vertical-align:middle; position:relative}
.adtb_01 th a.btn_arrow {width:13px; height:12px; display:inline-block; background:url(/_admin/images//btn_arrow.png) no-repeat}
.adtb_01 th.inner {background:#ececec;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; font-weight:normal; padding:5px 0}
.adtb_01 td {border-right:1px solid #bcbcbc;background:#fff;border-bottom:1px solid #bcbcbc; text-align:center; padding:8px 0;font-size:12px;line-height:16px;word-break:break-all; position:relative}
.adtb_01 td img {vertical-align:middle; padding-left:3px}
.adtb_01 td.lf {text-align:left; padding:8px 10px;}
.adtb_01 td.con > textarea {width:98%; height:250px; padding:4px}

.adtb_02 {border-top:1px solid #bcbcbc; border-left:1px solid #bcbcbc;table-layout:fixed ; position:relative} /* tr에 색상 없는 table*/
.adtb_02 th {background:#e3e3e3;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; padding:8px 0; font-size:12px;vertical-align:middle}
.adtb_02 th a.btn_arrow {width:13px; height:12px; display:inline-block; background:url(/_admin/images//btn_arrow.png) no-repeat}
.adtb_02 th.inner {background:#ececec;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; font-weight:normal; padding:5px 0}
.adtb_02 td {border-right:1px solid #bcbcbc;background:#fff;border-bottom:1px solid #bcbcbc; text-align:center; padding:8px 0;font-size:12px;line-height:16px;word-break:break-all}
.adtb_02 td img {vertical-align:middle; padding-left:3px}
.adtb_02 td.lf {text-align:left; padding:8px 10px;}
.adtb_02 td.rt {text-align:right; padding:8px 10px;}
.adtb_02 td.ct {text-align:center; padding:8px 10px;}
.adtb_02 td.con > textarea {width:98%; height:250px; padding:4px}

.adtb_03 {border-top:1px solid #bcbcbc; border-left:1px solid #bcbcbc; table-layout:fixed; position:relative; width:70%; float:left; margin-bottom:20px;} /* tr에 색상 없는 table*/
.adtb_03 th {background:#e3e3e3;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; padding:2px 10px; font-size:12px;vertical-align:middle}
.adtb_03 th a.btn_arrow {width:13px; height:12px; display:inline-block; background:url(/_admin/images//btn_arrow.png) no-repeat}
.adtb_03 th.inner {background:#ececec;border-right:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center; font-weight:normal; padding:5px 0}
.adtb_03 td {border-right:1px solid #bcbcbc;background:#fff;border-bottom:1px solid #bcbcbc; text-align:center; padding:2px 10px;font-size:12px;line-height:16px;word-break:break-all}
.adtb_03 td img {vertical-align:middle; padding-left:3px}
.adtb_03 td.lf {text-align:left;}
.adtb_03 td.rt {text-align:right;}
.adtb_03 td.ct {text-align:center;}
.adtb_03 td.con > textarea {width:98%; height:250px; padding:4px}

.tb_row_01 {border-top:1px solid #b9c8d7; border-left:1px solid #b9c8d7;table-layout:fixed }
.tb_row_01 th {background:#d0dfee;border-right:1px solid #b9c8d7;border-bottom:1px solid #b9c8d7;text-align:center; padding:8px 0; font-size:12px;vertical-align:middle;color:#4c5660}
.tb_row_01 td {border-right:1px solid #b9c8d7;background:#fff;border-bottom:1px solid #b9c8d7; text-align:center; padding:8px 0;font-size:12px;word-break:break-all}
.tb_row_01 td img {vertical-align:middle; padding-left:3px}
.tb_row_01 td.lf {text-align:left; padding:8px 10px;}
.tb_row_01 tr.disable td {background:#e8e8e8; color:#a3a3a3 !important}
.reply > textarea {width:98%; height:100px; padding:4px}

.fixed-tb {width:100%;position:relative;padding-top:30px; /* header-bg height값 */;/* border-bottom:1px solid #b9c8d7*/}
.fixed-tb .header-bg {height:30px;/* header-bg height값 */position:absolute;top:0;right:0;left:0;background:#d0dfee;border-top:1px solid #b9c8d7; border-bottom:1px solid #b9c8d7;border-right:1px solid #b9c8d7;text-align:center}
.fixed-tb .table-wrapper {overflow-x:hidden;overflow-y:auto;height:100%;}
.fixed-tb .table-wrapper .tb_f_01 {width:100%;border-right:1px solid #b9c8d7;}
.fixed-tb .table-wrapper .tb_f_01 th {padding: 0px; /* reset */}
.fixed-tb .table-wrapper .tb_f_01 .blue_bg th{height:30px; background: #d0dfee; border-top:1px solid #b9c8d7; border-bottom:1px solid #b9c8d7;border-left:1px solid #b9c8d7;text-align:center}
.fixed-tb .table-wrapper .tb_f_01 th div.th-text {position:absolute ;top:0;width:inherit;line-height:30px;/* header-bg height값 */border-left:1px solid #b9c8d7;text-align:center;color:#4c5660;font-size:11px}
.fixed-tb .table-wrapper .tb_f_01 th a.btn_arrow {width:13px; height:12px; display:inline-block; background:url(/_admin/images//btn_arrow.png) no-repeat}
.fixed-tb .table-wrapper .tb_f_01 td {border-bottom:1px solid #b9c8d7;border-left:1px solid #b9c8d7;padding:8px 0px;color:#000; text-align:center;word-break:break-all}

.auto_bx {border:1px solid #ccc; background:#fff; z-index:999}
.auto_bx > ul {}
.auto_bx > ul li {padding:3px 0;}
.auto_bx > ul li:hover {background:#ebebeb}

.etc_view {background:#fff; border:1px solid #9e9e9e; width:100px; z-index:10001}
.etc_view li {border-bottom:1px solid #9e9e9e; padding:5px; text-align:center;}
.etc_view li:hover {color:#000; cursor:default}
.etc_view li:last-child {border:0}


/* 파일업로드*/
.file_bx label {display:inline-block;padding:0 8px;height:22px;line-height:22px;font-size:11px !important;font-family:dotum;letter-spacing:-0.8px; font-weight:600;color:#000;text-align:center; background:#cddaec; border:1px solid #becadb;vertical-align:middle;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.file_bx label:hover {background:#cddaec}
.file_bx input.up_file[type="file"] {position:absolute; width:px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

.file_excel label {display:inline-block;padding:0 8px 0 35px;height:22px;line-height:22px;font-size:11px !important; font-weight:600;color:#fff;text-align:center; background:#4e5d95 url(/images/common/bg_excelup.png) no-repeat 10px 5px;border:0px solid #becadb;vertical-align:middle;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.file_excel input.up_file[type="file"] {position:absolute; width:px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

/* 버튼들 */
.btn_s {display:inline-block;border:0;background:#000;height:20px;line-height:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.btn_s:hover {color:#fff}
.btn_s_02 {display:inline-block;border:0;background:#2788cd;border:1px solid #227ebe;height:20px;line-height:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.btn_s_02:hover {color:#fff}
.btn_s_03 {display:inline-block;border:0;background:#535353;border:1px solid #444;height:20px;line-height:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:11px}
.btn_s_03:hover {color:#fff}
.btn_01 {border:0;background:#000;height:23px;line-height:23px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;}
.btn_02 {border:0;background:#4e5d95;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;}
.btn_03 {border:0;background:#273156;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;}
.btn_print {background:#273156 url(/images/common/bg_print.png) no-repeat 12px 6px;border:0;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;padding-left:20px;}
.btn_excel{background:#273156 url(/images/common/bg_excel.png) no-repeat 8px 5px;border:0;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;padding-left:20px;}

.btn_excel_up {background:#4e5d95 url(/images/common/bg_excelup.png) no-repeat 12px 5px;border:0;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;padding-left:20px;}
.btn_down {background:#4e5d95 url(/images/common/bg_down.png) no-repeat 12px 5px;border:0;height:22px;line-height:22px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;padding-left:20px;}

.btn_b01 {border:0;background:#4e5d95;height:28px;line-height:28px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;}
.btn_b02 {border:0;background:#6f6f6f;height:28px;line-height:28px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:12px;}

/*팝업 안의 버튼들*/
.btnp_01 {border:0;background:#000;height:30px;line-height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:13px;}
.btnp_02 {border:0;background:#6f6f6f;height:30px;line-height:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff; cursor:pointer;font-size:13px;}

/*작은 페이징*/
#pagenate2{position:relative;margin-top:15px}
#pagenate2 > p{position:absolute;z-index:1;top:0;right:0}
#pagenate2 .page{padding:0 0 10px 0;text-align:center}
#pagenate2 .page a,
#pagenate2 .page strong{display:inline-block;position:relative;margin:0 1px;padding:0 7px;line-height:17px;font-size:11px;font-family:"Arial";color:#313131;border:0px solid #fff;text-decoration:none;vertical-align:top}
#pagenate2 .page a:hover{border:0px solid #ccc;color:#000 !important;text-decoration:none}
#pagenate2 .page strong{color:#fff;border:1px solid #5e5e5e;background:#5e5e5e}
#pagenate2 .page .prev,
#pagenate2 .page .next,
#pagenate2 .page .first,
#pagenate2 .page .last{margin:0 2px;padding:0;width:17px;line-height:17px;font-size:11px;font-weight:600;font-family:"돋움", "굴림";text-align:center;letter-spacing:-3px;}
#pagenate2 .page .prev{margin:0 5px 0 0}
#pagenate2 .page .next{margin:0 0 0 5px}


/* 선택박스 배경 수정 */
.bx1{ position: relative; width:90%;  margin:0 auto;}
.bx1 > input[type="text"]{width:100%; height:23px; padding-left:3%; box-sizing:border-box;}
.bx1 .point{ position: absolute; top:2px; right:5px; padding:2px 4px; cursor:pointer; background: #fff;}
.bx1 .bx_area1{border-left:1px solid #ccc;border-right:1px solid #ccc; background: #fff; position: absolute; width:100%; margin:0 auto;  box-sizing:border-box;}
.bx1 .bx_area1 li{display: block; padding:8px 0 8px 10px; text-align: left; cursor:pointer;}
.bx1 .bx_area1 li a{ font-size: 12px; word-break:break-all; color:#666;}
.bx1 .bx_area1 li:hover{background: #f0f7ff; }
.bx1 .bx_area1 li:last-child{border-bottom:1px solid #ccc;}


/* 바코드 인쇄팝업 */
.test_tb_01{border: 1px solid #ccd3db; table-layout: fixed; width:50%; float:left;}
.test_mt_10{margin-top:10px;}
.test_tb_01 th {background:#d5e0eb;border-right:1px solid #ccd3db;border-bottom:1px solid #ccd3db;text-align:center; padding:8px 0; font-size:12px}
.test_tb_01 td{background:#fff; text-align:center; padding:2px 0;font-size:12px;word-break:break-all;}
.test_tb_01 td.lf2 {text-align:left; padding:6px 10px; border-bottom:1px solid #ccd3db;}